{% extends "main/home.html" %}

{% load crispy_forms_tags %}

{% block constantcontent %}
    <style>
        .profit#negative{
            color : #f06f6c
        }

        .profit#positive{
            color : #72ca72
        }
        .table {
            width: 90%;
            margin: auto;
        }
        @media all and (max-width: 499px) {
            .table {
                width: 100%;
            }
            .table th, td {
                min-width: 8em;
            }
            #position-div {
                overflow-x: scroll;
            }
        }
        #accountdropdown:hover .dropdown-menu {
            display: block;
        }
    </style>
    
    <div style="text-align: center;">
        <h6>Welcome {{user.username}}. Market indexes are {{average_dir}} an average of {{average}}% today</h6>
    </div>
    <div style="margin: auto; text-align: center;">
        <ul class="nav nav-tabs">
            <div style="margin: auto;">
                <li class="nav-item dropdown"  id='accountdropdown'style="display: inline-block;">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown-menu" role="button" aria-haspopup="true" aria-expanded="false">{{account.name}}</a>
                    <div class="dropdown-menu">
                        {% for alt_account in accounts %}
                        <a class="dropdown-item" href="/accounts/view/{{alt_account.id}}/">{{alt_account.name}}</a>
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/accounts/create/">Create New Account</a>
                    </div>
                </li>
            </div>
        </ul>
    </div>
    <br>
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem; text-align: center; margin: auto;">
        <div class="card-header">Account Balance</div>
        <div class="card-body">
            <h4 class="card-title">${{account_balance}}</h4>
            <p class="card-text">View chart</p>
        </div>
    </div>
    <h4 style="text-align: center;">Positions</h4>
    <div id="position-div">
        <table class="table table-hover" id="positiontable">
            <thead>
              <tr>
                <th scope="col">Instrument</th>
                <th scope="col">Qty</th>
                <th scope="col">Day Gain $</th>
                <th scope="col">Day Gain %</th>
                <th scope="col">Mark</th>
                <th scope="col">Change $</th>
                <th scope="col">Gain $</th>
                <th scope="col">Gain %</th>
                <th scope="col">Asset</th>
                <th scope="col">Purchase</th>
                <th scope="col">Delta</th>
                <th scope="col">Theta</th>
                <th scope="col">Gamma</th>
                <th scope="col">Vega</th>
                <th scope="col">Symbol</th>
                <th scope="col">Add To Position</th>
                <th scope="col">Close Position</th>
                <th scope="col">Go to Chart</th>
              </tr>
            </thead>
            <tbody>
                {% for position in positions %}
                    <tr class="table-active">
                        {% if position.asset == 'OPTION' %}
                            <th scope="row">{{ position.description }}</th>
                        {% else %}
                            <th scope="row">{{ position.symbol }}</th>
                        {% endif %}
                        <td>{{ position.quantity }}</td>
                        <td class="profit" >{{ position.day_gain_D }}</td>
                        <td class="profit">{{ position.day_gain_P }}</td>
                        <td>{{ position.mark }}</td>
                        <td class="profit">{{ position.change_D }}</td>
                        <td class="profit">{{ position.gain_D }}</td>
                        <td class="profit">{{ position.gain_P }}</td>
                        <td>{{ position.asset }}</td>
                        <td>{{ position.purchase }}</td>
                        <td>{{ position.delta }}</td>
                        <td>{{ position.theta }}</td>
                        <td>{{ position.gamma }}</td>
                        <td>{{ position.vega }}</td>
                        <td>{{ position.symbol }}</td>
                        <td><button type="button" class="btn btn-success btn-sm" onclick="add_position('{{position.symbol}}')">Add</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm" onclick="close_position('{{position.symbol}}')">Close</button></td>
                        <td><button type="button" class="btn btn-info btn-sm">Chart</button></td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
    <br>
    <div style="text-align: center;">
        <button type="button" class="btn btn-success" onclick="window.location.href='/trade/{{account.id}}/'">Place Trade</button>
    </div>
    <script>
        function close_position(symbol) {
            window.location.replace('/trade/{{account.id}}/'+symbol +'/sell/')
        }
        function add_position(symbol) {
            window.location.replace('/trade/{{account.id}}/'+symbol +'/buy/')
        }
        var update_account_loop = setInterval(update_account, 5000);
        //setInterval(test_ping, 3000);
        update_account();
        function change_cells(table, cell_loc, name, responseText) {
            for(i = 0; i < responseText[name].length; i++) {
                var responseSymbol = Object.keys(responseText[name][i])[0]
                for (var row of table.rows){
                    if (responseSymbol == row.cells[14].innerText) {
                        row.cells[cell_loc].innerHTML = responseText[name][i][responseSymbol]
                        if (responseText[name][i][responseSymbol] > 0) {
                            row.cells[cell_loc].id = 'positive'
                        } else if (responseText[name][i][responseSymbol] < 0) {
                            row.cells[cell_loc].id = 'negative'
                        }
                    }
                }
            }
        }
        function update_account(){
            var table=document.getElementById("positiontable").getElementsByTagName('tbody')[0];
            var symbol_list = []
            for (var row of table.rows) {
                var symbol = row.cells[14].innerText
                symbol_list.push(symbol)
            }
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var responseText = JSON.parse(this.responseText)
                    change_cells(table, 2, 'day_gain_dollar', responseText)
                    change_cells(table, 3, 'day_gain_perc', responseText)
                    change_cells(table, 4, 'mark', responseText)
                    change_cells(table, 5, 'change', responseText)
                    change_cells(table, 6, 'gain_dollar', responseText)
                    change_cells(table, 7, 'gain_perc', responseText)
                    change_cells(table, 10, 'delta', responseText)
                    change_cells(table, 11, 'theta', responseText)
                    change_cells(table, 12, 'gamma', responseText)
                    change_cells(table, 12, 'vega', responseText)
                }
            };
            params = {symbols:symbol_list};
            xhttp.open("GET", "/updateaccountdata/{{account.id}}/", true);
            xhttp.send();
        }

        function showBalance() {
            var x = document.getElementById("balanceChart");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
{% endblock %}

