{% extends "main/home.html" %}


{% block constantcontent %}
<!-- <div class="tradingview-widget-container" style="margin: auto; height: 80vh;">
    <div id="tradingview_5f9ba" style="margin: auto; height: 100%; width: 80%;"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">AAPL Chart</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        new TradingView.widget(
            {"autosize":true,
            "symbol": "NASDAQ:AAPL",
            "interval": "D",
            "timezone": "Etc/UTC",
            "theme": "light",
            "style": "1",
            "locale": "en",
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "allow_symbol_change": true,
            "container_id": "tradingview_5f9ba"}
        );
    </script>
</div> -->
<div id="chartcontainer" style="position: absolute; left: 200px; top: 200px;"></div>
<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
<script>
    const chart = LightweightCharts.createChart(document.getElementById("chartcontainer"), { width: 400, height: 300 });
    const candlestickSeries = chart.addCandlestickSeries();
// set data
    var jsstock_data = {{ stock_data|safe}};
    var true_data = [];
    for (var i = 0; i < jsstock_data.length; i++) {
        true_data.push({time: jsstock_data[i][0], open: jsstock_data[i][1], high: jsstock_data[i][2], low: jsstock_data[i][3], close: jsstock_data[i][4]})
    }
    candlestickSeries.setData(true_data);
</script>
{% endblock %}

