{% extends "main/home.html" %}

{% block otherlinks %}
<a href = '/home/'>Home</a>
{% endblock %}

{% block constantcontent %}
    <style>
        .table {
            width: 90%;
            margin: auto;
        }
        #history-div {
            width: 50%;
            margin: auto;
        }
        @media all and (max-width: 499px) {
            .table {
                width: 100%;
            }
            .table th, td {
                min-width: 8em;
            }
            #history-div {
                width: 100%;
                overflow-x: scroll;
            }
        }
    </style>
    <div style="margin: auto; text-align: center;">
        <h6>Welcome {{user.email}}, here are your past orders</h6>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info btn-lg" onclick="window.location.href='/history/orders'">Orders</button>
            <button type="button" class="btn btn-info btn-lg" onclick="window.location.href='/history/trades'">Trades</button>
        </div>
    </div>
    <br>
    <h4 style="text-align: center;">Orders</h4>
    <div id="history-div">
        {% if trades %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Instrument</th>
                    <th scope="col">% Profit</th>
                    <th scope="col">$ Profit</th>
                    <th scope="col">Open Time</th>
                    <th scope="col">Close Time</th>
                    <th scope="col">ID</th>
                </tr>
                </thead>
                <tbody>
                    {% for position in positions %}
                        <tr class="table-active">
                            <td scope="row">{{ position.symbol }}</td>
                            <td>{{ position.perc_profit }}</td>
                            <td>{{ position.dollar_profit }}</td>
                            <td>{{ position.date_opened}} EST</td>
                            <td>{{ position.date_close}} EST</td>
                            <td><button type="button" class="btn btn-primary btn-sm" onclick="alert('Trade ID: {{position.position_id}}')">ID</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if not trades %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Instrument</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Fill Price</th>
                    <th scope="col">Fill Time</th>
                </tr>
                </thead>
                <tbody>
                    {% for position in positions %}
                        <tr class="table-active">
                            <td scope="row">{{ position.symbol }}</td>
                            <td>{{ position.quantity }}</td>
                            <td>{{ position.fill_price }}</td>
                            <td>{{ position.order_execution_date}} EST</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
<script>
    function toastMsg(msg) {
        document.getElementById("id_toast_box").style.display = "block";
        document.getElementById("id_toast").innerText = msg
    }
</script>
{% endblock %}

