{% extends "main/base.html" %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img src = "{% static 'main/images/RillionLogo.png' %}" width="40" height="40">
    <a class="navbar-brand">Rillion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home
            <!-- <span class="sr-only">(current)</span> -->
          </a>
        </li>
        {% if not user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
        {% endif %} 
        {% if user.is_authenticated %}
            <!-- <li class="nav-item">
                <a class="nav-link" href="/test">Dev Tab (Dont Go)</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="/accounts">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/history/orders">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stats">Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/trade">Trade</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a>{{user.username}}</a>
      </form>
    </div>
  </nav>
  {% block constantcontent %}
  {% endblock %}
  {% if user.is_authenticated %}
  <div id="authenticated", name="authenticated", class = 'main'>
      {% block authenticated %}
      {% endblock %}
  </div>
  <div id = 'authform', name = 'authform', class = 'form'>
      {% block authform %}
      {% endblock %}
  </div>
    {% if user.username == 'unkown' %}
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">You don't seem to have a username yet!<a href="/profile" class="alert-link"> Click here to set one</a>.</p>
    </div>
    {% endif %}
  {% endif %}
  {% if not user.is_authenticated %}
      <div id = 'unauthenticated', name = 'unauthenticated', class = 'main'>
          {% block unauthenticated %}
          <h1>Trade analytics for everyone</h1>
          <h4>Quickly and easily analyize your trades, compete in competitions, and better your game</h4>
          {% endblock %}
      </div>
      <div id = 'unauthform', name = 'unauthform', class = 'form'>
          {% block unauthform %}
          {% endblock %}
      </div>
  {% endif %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}